.item {
  display: flex;
  align-items: center;
  width: 300px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.26);
  margin-top: 20px;
  padding: 20px;
}

.statusOnLine,
.statusOffLine {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.statusOnLine {
  background-color: rgb(86, 192, 53);
}
.statusOffLine {
  background-color: rgb(255, 68, 68);
}
.name {
  margin-left: 20px;
  font-size: 25px;
  font-weight: 600;
}

.avatar {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}