.transactionHistory {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-collapse: collapse;
  box-shadow: 2px 5px 2px 2px rgba(0, 0, 0, 0.144);
}

.tableHead {
  text-transform: uppercase;
  background-color: rgb(24, 176, 214);
  color: #fff;
}

.headRow {
  text-transform: uppercase;
}

.tableCell {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid rgb(231, 231, 231);
}

.row {
  text-transform: capitalize;
  color: rgba(54, 142, 214, 0.993);
}

.row:nth-child(even) {
  background-color: rgb(238, 232, 232);
}